.espaco{
    gap: 10px 20px;
}

.espacocurto{
    gap: 10px;
}

.text{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:bisque;
    padding: 10px;
}

.margem{
    padding: 10px;
}

.margemexpandida{
    padding: 50px;
    padding-bottom: 0px;
}

.bg-female{
    background: #ff69b4;

}

.bg-male{
    background: #034ed8;
}







